/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

.wrapper {

    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.wrapper-header {
    margin-top: 40px;
    margin-bottom: 96px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.header-logo-link {
    width: 448px;
}

.header-nav-list {
    display: flex;
    align-items: center;
}

.header-nav-list-item {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 35px;
}

.header-nav-list-item button {
    padding: 13px 27px;
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 30px;
    background: #F25822;
    border: solid;
    cursor: pointer;
}

.header-content {
    display: flex;
    padding-top: 94px;
    padding-bottom: 200px;
}

.header-content-title {
    position: relative;
    width: 583px;
    padding-top: 61px;
}

.header-content-title::before {
    content: "";
    position: absolute;
    top: 134px;
    left: -20px;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    width: 314px;
    height: 76px;
    border: 1px solid #F25822;
}

.header-img {
    width: 610px;
    height: 372px;
}

.header-nav-logo {
    cursor: pointer;
}

.header-content-title-head {
    margin-bottom: 17px;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-content-title p {
    padding-bottom: 37px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-btns {
    display: flex;
    align-items: center;
}

.header-btns img {
    margin-right: 15px;
}

.header-btns a {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.header-partners-list {
    display: flex;
    justify-content: space-between;
}

.start-now {
    margin-right: 27px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    padding: 13px 36px;
    border: solid;
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.advantages-head {
    display: flex;
    background: #FAFAFA;
}


.advantages-head-text h2 {
    padding-top: 125px;
    padding-bottom: 20px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.advantages-head-text p {
    width: 515px;
    height: 72px;
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.advantages-head-text button {
    margin-top: 35px;
    border-radius: 50px;
    padding: 16px 31px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    border: none;
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding-bottom: 100px;
}

.advantage-img {
    padding-bottom: 25px;
}

.advantage-head {
    padding-bottom: 17px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.advantage-text {
    width: 310px;
    height: 42px;
    margin-bottom: 25px;
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
}

.advantage-text-bold {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 16.5px */
}

.wrapper-services {
    padding-top: 92px;
    padding-bottom: 100px;
    background: #FAFAFA;
}

.services-head {
    padding-bottom: 19px;
    text-align: center;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.services-text {
    padding-bottom: 54px;
    text-align: center;
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.services-list {
    display: flex;
    padding-bottom: 100px;
}

.services-list-item {
    width: 370px;
    height: 549px;
    margin-right: 30px;
    background-color: #FFF;
}

.services-list-item-middle {
    width: 370px;
    height: 549px;
    margin-right : 30px;
    background-color: #FFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.service-head {
    padding-bottom: 22px;
    text-align: center;
}

.service-text {
    margin-bottom: 39px;
    text-align: center;
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
}

.service-btn {
    margin: 0 auto;
    display: block;
    padding: 15px 36px 15px 46px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    border: none;
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.wrapper-what-we-do {
    margin-bottom: 100px;
}

.what-we-do {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.what-we-do::before {
    content: url(img/dribbble_illustration_v3\ 1.png);
    position: absolute;
    left: -316px;
}

.what-we-do-head {
    padding-bottom: 19px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.what-we-do-content {
    width: 557px;
    padding-top: 107px;
}

.what-we-do-text {
    padding-bottom: 80px;
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.what-we-do-list-item-img {
    margin-right: 29px;
}


.what-we-do-list-item {
    display: flex;
    padding-bottom: 56px;
}

.what-we-do-list-item-text {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
}

.what-we-do-list-item-flex {
    display: flex;
    flex-direction: column;
}

.what-we-do-list-item-head {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
}

.funfacts-list {
    width: 1170px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #EEE;
}

.funfacts-list img {
    height: 15px;
}

.funfact-list-item {
    text-align: center;
}

.funfact-list-item:first-child {
    padding-left: 76px;
}

.funfact-list-item:last-child {
    padding-right: 66px;
}

.funfact-list-item-number {
    color: #666;
    font-family: Gilroy-Bold;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 105px */
}

.funfact-list-item-text {
    color: #666;
    font-family: Gilroy-SemiBold;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    }

.mailbox {
 display: flex;
}

.mailbox-img {
    margin-top: 42px;
}

.mailbox-content {
    padding-top: 238px;
}

.mailbox-head {
    width: 563px;
    margin-bottom: 3px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 67.5px */
}

.mailbox-text {
    padding-bottom: 55px;
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.mailbox-input-field {
    padding: 13px 120px;
    border-radius: 50px;
    background: #EEE;
    border: none;
}

.mailbox-input-field::placeholder {
    text-align: center;
    color: #666;
    font-family: Gilroy-Medium;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 16.5px */
}

.mailbox-input-btn {
    padding: 15px 48px 15px 49px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.25);
    border: none;
    color: #FFFDFD;
    font-family: Gilroy-Bold;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 19.5px */
    cursor: pointer;
}

.wrapper-plans {
    padding-top: 87px;
    background: #FAFAFA;
}

.plans {
    padding-bottom: 130px;
}

.plans-head {
    text-align: center;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.plans-text {
    padding-top: 3px;
    padding-bottom: 56px;
    text-align: center;
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.plans-list {
    padding-bottom: 130px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.plan-list-item {
    width: 370px;
    height: 514px;
    background: #FFF;
}

.plan-list-item-class {
    padding-top: 63px;
    padding-bottom: 6px;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}

.plans-list li:nth-child(2) {
    box-shadow: 15px 25px 70px -5px rgba(0, 0, 0, 0.07);
}

.plan-list-item-head {
    position: relative;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.plan-list-item-head::before {
    content: "$";
    position: absolute;
    top: 18px;
    left: 79px;
    font-family: Gilroy-Medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.plan-list-item-btn-middle {
    margin-top: 27px;
    padding: 9px 64px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 10px 0px rgba(242, 88, 34, 0.25);
    border: none;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 250%; /* 32.5px */
    cursor: pointer;
    color: #FFF;

}

.plan-list-item-list {
    color: #666;
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 250%; /* 40px */
}

.plan-list-item-btn {
    margin-top: 27px;
    padding: 9px 64px;
    border-radius: 50px;
    background: rgba(242, 88, 34, 0.25);
    border: none;
    color: #F3602D;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 250%; /* 32.5px */
    cursor: pointer;
}

.numb {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 105px */
}

.team {
    padding-bottom: 100px;
}

.team-head {
    padding-top: 83px;
    padding-bottom: 12px;
    text-align: center;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 67.5px */
}

.team-text {
    padding-bottom: 52px;
    text-align: center;
    color: #666;
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-list-item {
    width: 270px;
    height: 331px;
    text-align: center;
    border: 1px solid #EEE;
}

.team-item-photo {
    margin-top: 50px;
    margin-left: 70px;
    margin-bottom: 14px;
}

.team-item-name {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
}

.team-item-prof {
    margin-bottom: 17px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 19.5px */
}

.links-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-list-item {
    padding-right: 15px;
}

.links-list-item img {
    cursor: pointer;
}

.testimonials-head {
    padding-top: 93px;
    padding-bottom: 19px;
    text-align: center;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.testimonials-text {
    padding-bottom: 55px;
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.testimonials-list {
    display: flex;
}

.testimonials-list li:nth-child(3) {
    display: none;
} 

.testimonials-list li:last-child {
    display: none;
}

.testimonials-list-item {
    position: relative;
    margin-right: 30px;
    width: 570px;
    height: 271px;
    border: 2px solid #EEE;
}

.testimonials-list-item::before {
    content: url(img/quote.svg);
    position: absolute;
    top: 23px;
    left: 256px;
    z-index: -1;
}

.testimonials-item-img {
    margin-left: 260px;
}


.testimonials-item-text {
    padding-top: 25px;
    padding-bottom: 26px;
    color: #888;
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.testimonials-item-name {
    color: #000;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 19.5px */
    }

.testimonials-item-prof {
    color: #888;
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 19.5px */
}

.slider-btns {
    margin-right: 28px;
    padding-bottom: 100px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.slider-btn-right {
    margin-right: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    background: #F25822;
    cursor: pointer;

}

.slider-btn-left {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    background: #DDDDDD;
    cursor: pointer;
}

.blogpost-head {
    padding-bottom: 5px
    color: #000;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 67.5px */
}

.blogpost-text {
    padding-top: 22px;
    padding-bottom: 55px;
    color: #666;
    font-family: Gilroy-Medium;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
}

.blogpost-text-head {
    padding-top: 5px;
    padding-bottom: 45px;
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.blogpost-list {
    display: flex;
    justify-content: center;
}

.blogpost-list-item-first {
    width: 770px;
    height: 330px;
    display: flex;
    background: #FFF;
    box-shadow: 15px 25px 60px -10px rgba(0, 0, 0, 0.10);
}

.blogpost-list-item {
    display: none;
}

.blogpost-item-content {
    width: 340px;
}

.blogpost-item-head {
    padding-bottom: 20px;
    padding-top: 46px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}

.icons-list-item {
    display: flex;
}

.icons-list-item-text {
    padding-right: 35px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 16.5px */
}

.icons-list-item-img {
    padding-right: 6px;
}

.icons-list {
    padding-top: 20px;
    padding-bottom: 22px;
    display: flex;
}

.blogpost-item-content {
    margin-left: 23px;
}

.blogpost-text-orange {
    color: #F25822;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 16.5px */
}

.wrapper-footer {
    margin-bottom: 50px;
}

.footer {
    padding-top: 97px;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    width: 270px;
}

.footer-logo-text {
    padding-bottom: 35px;
    color: #666;
    font-family: Gilroy-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
}

.footer-logo-img {
    padding-bottom: 47px;
}

.footer-head {
    padding-bottom: 34px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 38.4px */
}

.footer-company-list-item, .footer-services-list {
    color: #666;
    font-family: Gilroy-SemiBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 230%; /* 36.8px */
}

.footer-contacts-list-item {
    color: #666;
    font-family: Gilroy-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.footer-links-list-item {
    padding-right: 15px;
    cursor: pointer;
}

.footer-links-list {
    display: flex;
    align-items: center;
}

.footer-company-list {
    padding-left: 14px;
}

.footer-company-list-item{
    padding-left: 14px;
    position: relative;
}

.footer-company-list-item::before, .footer-services-list-item::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 2px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #F25822;
}

.footer-services-list {
    padding-left: 14px;
}

.footer-services-list-item {
    padding-left: 14px;
    position: relative;
}

.footer-contacts-list-item span {
    color: #333;
}

.copyright-text {
    padding-top: 19px;
    padding-bottom: 19px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 230%; /* 36.8px */
    text-align: center;
}